html {
  font-size: 18px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0 15%;
  background-color: #f8fcff;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cont {
  margin: 2rem 1rem;
  padding: 1rem 2rem;
}

.datosPrincipales,
.datosSecundarios,
.tile {
  box-shadow: 3px 5px 14px -4px #a1a1a1a8;
  background-color: #ffffff;
}

.datosSecundarios {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.datosSecundarios > * {
  padding: 0.25rem 0;
}

.forecast {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tile {
  padding: 1rem;
  margin: 1rem 0.5rem;
  width: 10%;
  min-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.atmosferic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.icon {
  width: 16px;
}

.principalesCont {
  display: flex;
  align-items: center;
}
.principalesCont > img {
  width: 100px;
  height: auto;
}

.datosTemperatura {
  display: flex;
  flex-direction: column;
}

.windIcon {
  width: 15px;
  height: auto;
}

.datosViento {
  display: flex;
  align-items: center;
}

.sectionTitle {
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
}

.searchBar {
  padding: 0.25rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #dddddd;
}

.searchBar > input,
button {
  margin: 0.5rem;
  padding: 0.5rem;
}

.cityInput,
#getWeaterButton {
  font-size: 1rem;
  border: none;
}

#getWeaterButton:hover {
  background-color: #e98d73;
}

input:focus-visible {
  outline-width: 0px;
}

.cityTitle {
  margin-top: 0px;
}

footer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.switch-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 2rem;
}
.option {
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  background-color: #777777;
  transition: background-color 0.25s ease-in-out;
}

.selected {
  background-color: #f5f5f5;
}

#weatherDescription {
  text-align: center;
}

a {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: #ec6e4c;
}

#errorMsg {
  text-align: center;
  background-color: #ff8686;
}

.active {
  padding: 0.5rem;
}
